@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bodyBgColor: #fafafa;
  --bodyFgColor: #171717;
  --componentBgColor: #ffffff;
  --componentFgColor: #333236;

  --borderColor: #9fa6b2;

  --orange: #ff8c00;
  --disabled: #9fa6b2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bodyBgColor: #1e1e1e;
    --bodyFgColor: #ededed;
    --componentBgColor: #171717;
    --componentFgColor: #ffffff;

    --borderColor: #333236;
  }
}

body {
  background: var(--bodyBgColor);
  color: var(--bodyFgColor);
}

button,
input {
  background: var(--componentBgColor);
  color: var(--componentFgColor);
  font-weight: 600;
}
