@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bodyBgColor: #fafafa;
  --bodyFgColor: #171717;
  --componentBgColor: #ffffff;
  --componentFgColor: #333236;

  --borderColor: #9fa6b2;

  --orange: #ff8c00;
  --red: #d6173a;
  --disabled: #9fa6b2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bodyBgColor: #1e1e1e;
    --bodyFgColor: #ededed;
    --componentBgColor: #171717;
    --componentFgColor: #ffffff;

    --borderColor: #333236;
  }
}

body {
  background: var(--bodyBgColor);
  color: var(--bodyFgColor);
}

button,
input {
  background: var(--componentBgColor);
  color: var(--componentFgColor);
  border-radius: 0.375rem;
  font-weight: 600;
}

input {
  border: 1px solid var(--borderColor);
  &:focus {
    border: solid 1px var(--orange);
    outline: none;
  }
}

/* 크롬, 엣지, 사파리 */
.overflow-hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* 파이어폭스 */
.overflow-hidden-scrollbar {
  scrollbar-width: none;
}

/* IE, Edge */
.overflow-hidden-scrollbar {
  -ms-overflow-style: none;
}

/* 크롬, 엣지, 사파리 */
.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
