@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;

  --white: #ffffff;
  --orange: #ff8c00;
  --gray: #9fa6b2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

button {
  color: var(--white);
  font-weight: 600;
}
